/* Custom styles for TradeStat Form */
.container,
.container {
    max-width: 90%;
    display: block;
    margin: 0 auto;
}
.container h1,
.container h2 {
    text-align: center;
}

#stock-form {
    max-width: 500px;
    margin: 0 auto;
}
/* Loader styles */
.loader {
    display: none;
    text-align: center;
    margin: 20px;
}
.error-container {
    margin-bottom: 10px;
}
#stock-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#stock-chart-container {
    max-height: 100vh;
    overflow-y: auto;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.error {
    color: red;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* Responsive styles */
@media (max-width: 767px) {
    #stock-form {
        max-width: 100%;
    }

    #stock-table {
        font-size: 14px;
    }
}

#stock-table {
    display: none;
}

@media (max-width: 480px) {

    #stock-form input[type="text"],
    #stock-form input[type="email"] {
        font-size: 14px;
    }

    #stock-form button[type="submit"] {
        font-size: 14px;
        padding: 8px 16px;
    }
}
